html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Public Sans", sans-serif;
  font-size: $font-md;
  font-weight: 400;
  color: $grayishBlue;
  line-height: 1.3;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

// Flexbox
.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }
}

// Buttons
button,
.button {
  padding: 0.875rem 2.1875rem;
  background: linear-gradient(to right, $limeGreen, $brightCyan);
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  color: $white;
  font-weight: 700;
}

// Visibility
.hide-for-mobile {
  @include breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoint-up(large) {
    display: none;
  }
}
