html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Public Sans", sans-serif;
  font-size: $font-sm;
  font-weight: 400;
  color: $grayishBlue;
  line-height: 1.3;

  @include breakpoint-up(large) {
    font-size: $font-md;
  }

  &.noscroll {
    overflow: hidden;
  }
}

h1,
h2,
h3 {
  margin-top: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

// Spacing
.container {
  max-width: 69.375rem;
  margin: 0 auto;

  &--pall {
    padding: {
      top: 2.25rem;
      right: 1.5rem;
      bottom: 2.25rem;
      left: 1.5rem;
    }
  }

  &--py {
    padding: {
      top: 2.25rem;
      bottom: 2.25rem;
    }
  }

  &--px {
    padding: {
      right: 1.5rem;
      left: 1.5rem;
    }
  }
  &--pt {
    padding-top: 2.25rem;
  }

  &--pr {
    padding-right: 1.5rem;
  }

  &--pb {
    padding-bottom: 2.25rem;
  }

  &--pl {
    padding-right: 1.5rem;
  }
}

// Flexbox
.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }
}

// Buttons
button,
.button {
  display: inline-block;
  padding: 0.875rem 2.1875rem;
  background: linear-gradient(to right, $limeGreen, $brightCyan);
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  color: $white;
  font-weight: 700;
  font-size: $font-sm;
  transition: opacity 300ms ease-in-out;

  &:hover {
    opacity: 0.75;
  }
}

// Visibility
.hide-for-mobile {
  @include breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoint-up(large) {
    display: none;
  }
}
