.header {
  position: relative;
  z-index: 1;

  // Hamburger open
  &.open {
    .header__toggle {
      > span:first-child {
        transform: rotate(45deg);
      }

      > span:nth-child(2) {
        opacity: 0;
      }

      > span:last-child {
        transform: rotate(-45deg);
      }
    }
  }

  .overlay {
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient($darkBlue, transparent);
  }

  nav {
    position: relative;
    background-color: $white;
    padding: {
      top: 1.0625rem;
      bottom: 1.0625rem;
    }
  }

  &__logo {
    width: 8.8125rem;
    height: 1.375rem;
  }

  // Mobile menu
  &__toggle {
    > span {
      display: block;
      width: 26px;
      height: 2px;
      background-color: $darkBlue;
      transition: all 300ms ease-in-out;
      transform-origin: 3px 1px;

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }

  &__menu {
    position: absolute;
    width: calc(100% - 3rem);
    left: 50%;
    transform: translateX(-50%);
    background-color: $white;
    margin-top: 1.5rem;
    padding: 1.625rem;
    border-radius: 5px;

    a {
      display: block;
      color: $darkBlue;
      padding: 0.625rem;
      text-align: center;
    }
  }

  &__links {
    a {
      position: relative;
      font-size: $font-sm;
      color: $grayishBlue;
      transition: color 300ms ease-in-out;

      &:not(:last-child) {
        margin-right: 32px;
      }

      &::before {
        content: "";
        display: block;
        position: absolute;
        height: 5px;
        left: 0;
        right: 0;
        bottom: -30px;
        background: linear-gradient(to right, $limeGreen, $brightCyan);
        opacity: 0;
        transition: opacity 300ms ease-in-out;
      }

      &:hover {
        color: $darkBlue;

        &::before {
          opacity: 1;
        }
      }
    }
  }
}
